### Python Basic codes

In [1]:
1+1

2

In [2]:
# Modulus operation - It returs 'Remainder' value
4%2

0

In [3]:
4/2

2.0

In [20]:
# 5//2 returns whole value, leaving the decimal part
# 5/2 returns complete value including decimal part
5//2

2

In [5]:
5/2

2.5

In [6]:
#BODMAS RULE - Bracket, Of, Divison, Multiplication, Addition and Subtraction
5+3*2

11

In [7]:
(5+3)*2

16

In [8]:
type(4/2)

float

In [9]:
type(2.5)

float

In [10]:
type(2)

int

In [12]:
type('Punitha')

str

In [28]:
a=10
b=10
a+b

20

In [21]:
a=10
b=20
c=a+b

In [23]:
#display c
c

30

In [24]:
type(c)

int

In [26]:
#Boolean values - True/False - 'T' must be in caps
True

True

In [27]:
False

False

In [29]:
#Boolean operation - or/and
True or False

True

In [30]:
True and False

False

In [35]:
type(True or False)

bool

In [36]:
#Logical operator
True | False

True

In [37]:
a=10
b=20
a+b>30

False

In [44]:
# or - Bitwise operator
# |  - Logical operator 
#Both or and | work the same way. Find examples below.
a=10
b=20
a+b>30 | a-b<10

True

In [46]:
a=10
b=20
a+b>30 or a-b<10

True

### STRINGS

In [50]:
# Letter/word/sentence - type will be 'str'
type('A')

str

In [48]:
type('Punitha')

str

In [49]:
type('Punitha likes Coffee')

str

In [55]:
# single or double quotes - output will be the same
"Punitha likes Coffee"

'Punitha likes Coffee'

In [56]:
'Punitha likes Coffee'

'Punitha likes Coffee'

In [6]:
str1 = 'Punitha likes Coffee'

In [7]:
str1

'Punitha likes Coffee'

In [63]:
#typecasting - Whatever you give inside the bracket will be converted into string
str(1)

'1'

In [74]:
# ERROR -'str' object is not callable which means str got assigned with some other value/variable.
#str is a reserved keyword
#Solution - Restart the kernel

In [8]:
str1

'Punitha likes Coffee'

In [9]:
print(str1)

Punitha likes Coffee

In [10]:
a=10
a

10

In [11]:
print(a)

10

In [12]:
type(print(a))

10

NoneType

In [16]:
str1 = "A good boy"
str2 = "A bad boy"
print(str1)
print(str2)

A good boy
A bad boy

In [17]:
str1+str2

'A good boyA bad boy'

In [18]:
str1+" "+str2

'A good boy A bad boy'

In [20]:
name=input("Enter your name:")
print(name)

Enter your name:Deepan
Deepan

In [22]:
### Add 2 numbers
### Whatever you give via input function, will be considered as string.
### Concatenation happens if we give numbers as inputs. To overcome this, use "TYPECASTING"
a = input("Enter number1:")
b = input("Enter number2:")
c = a+b
print("The output is:",c)

Enter number1:10
Enter number2:10
The output is: 1010

In [24]:
###TYPECASTING
### IMP : String could not be converted into Float
a = float(input("Enter number1:"))
b = float(input("Enter number2:"))
c = a+b
print("The output is:",c)

Enter number1:10.5
Enter number2:1.05
The output is: 11.55

In [25]:
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("Welcome to Ineuron course",first_name,last_name)

What is your first name?Punitha
What is your last name?Deepan
Welcome to Ineuron course Punitha Deepan

In [26]:
### String Formatting
### To display input values in between the sentences of the output - For this, use String Formatting
### Eg : My first name is Punitha and last name is Deepan.
# - {} - This is called place holder
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("My first name is {} and my last name is {}".format(first_name,last_name))

What is your first name?Punitha
What is your last name?Deepan
My first name is Punitha and my last name is Deepan

In [27]:
### PLACE HOLDER VARIABLE
### {customize} - Fill place holder - place holder variable
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("My first name is {lastname} and my last name is {firstname}".format(firstname=last_name,lastname=first_name))

What is your first name?Punitha
What is your last name?Deepan
My first name is Punitha and my last name is Deepan

### Variable Dynamic Typing

In [5]:
### Whenever you define variable, compiler automatically identifies its datatype.
### No need to define datatype explicitly
a=10.1
type(a)

float

In [2]:
a=5
type(a)

int

In [6]:
b="Punitha"
type(b)

str

### Strong Typing

In [8]:
### Can concatenate str to str 
### Both LHS and RHS should have same datatype

### Strong Typing Eg 1
'Punitha'+str(1)

'Punitha1'

In [11]:
### Strong Typing Eg 2
1+int('10')

11

### Conditional Statements

In [1]:
### if and elif statements
### Intendation happens automatically in python.

# After : press Enter, takes you into the loop. For exiting the loop, press backspace.
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=a-b
if c<0:
    print("The number {output} is negative".format(output=c))
else:
    print("The number {output} is positive".format(output=c))

Enter first number:10
Enter second number:20
The number -10 is negative

In [2]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=a-b
if c<0:
    print("The number {} is negative".format(c))
elif c>40:
    print("The difference {} is huge".format(c))
else:
    print("The number {} is positive".format(c))

Enter first number:10
Enter second number:20
The number -10 is negative

### Data Structures
1. List
2. Tuple
3. String
4. Dictionary
5. Sets

In [3]:
### LIST - You can put anything inside the list and can retrieve however you want
lst=[1,2,3,"Punitha","Deepan"]

In [4]:
type(lst)

list

In [5]:
lst[3]

'Punitha'

In [6]:
type(lst[3])

str

In [7]:
type(lst[2])

int

In [11]:
### List can also be definite like TYPECASTING
a=list([1,2,3,"Punitha","Deepan"])

In [13]:
a[3]

'Punitha'

In [14]:
lst.append("Ineuron")

In [15]:
lst

[1, 2, 3, 'Punitha', 'Deepan', 'Ineuron']

In [16]:
lst[2]="Data Science"
print(lst)

[1, 2, 'Data Science', 'Punitha', 'Deepan', 'Ineuron']

In [17]:
lst.append("Punitha")
lst.append("Punitha")
lst

[1, 2, 'Data Science', 'Punitha', 'Deepan', 'Ineuron', 'Punitha', 'Punitha']

In [18]:
lst.count('Punitha')

3

### Indexing

In [19]:
### Strings

str1="Punitha"

In [20]:
str1[3]

'i'

In [5]:
### 'str' object does not support item assignment
### str1[3]='p'  - not possible 
### But entire string can be changed but not a single item as we do in list.
### So, string is immutable

str1 = "Deepan"
str1 = "Ineuron"

In [6]:
str1

'Ineuron'